{{ define "displayPlayer" }}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        table {
            width: 30%;
        }

        table, th, td {
            border: 1px solid black;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th style="text-align: center">
            Player {{ .PlayerId}}
        </th>
        <th style="text-align: center">
            Player Data
        </th>
    </tr>
    <tr>
        <td>
            First name
        </td>
        <td style="text-align: right">
            {{ .Fname }}
        </td>
    </tr>
    <tr>
        <td>
            Last name
        </td>
        <td style="text-align: right">
            {{ .Lname }}
        </td>
    </tr>
    <tr>
        <td>
            Gender
        </td>
        <td style="text-align: right">
            {{ if .Gender }}
            Male
            {{ else }}
            Female
            {{ end }}
        </td>
    </tr>
    <tr>
        <td>
            Ability [/10]
        </td>
        <td style="text-align: right">
            {{ .Ability }}
        </td>
    </tr>
</table>
</body>
</html>
{{ end }}