<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Home - Match Maker</title>
</head>
<body>
<script src="/assets/home.js"></script>

<!-- Button to open the modal login form -->
<button onclick="document.getElementById('id01').style.display='block'" class="addPlayer">Add Player</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="/addPlayer">
        <div class="imgcontainer">
            <img src="/assets/be.png" alt="Shuttle" class="avatar">
        </div>

        <div class="container">
            <label name="lbl1" style="align-content: center"><b>First Name</b></label>
            firstName: <input name="firstName" type="text" placeholder="Enter First name" name="fname" required>

            <label name="lbl2" style="align-content: center"><b>Last Name</b></label>
            lastName: <input name="lastName" type="text" placeholder="Enter Last Name" name="lname" required>
        </div>

        <div class="container" style="background-color:#f1f1f1; text-align: center">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="modelButtons">Cancel</button>
            <button id="subbtn" type="submit" class="modelButtons" onclick="submitPlayer(firstName.value, lastName.value)">Submit</button>
        </div>
    </form>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>